.jumbotron {
	background-image: url('../Fotos/fondoxd.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	margin-top: 50px;
}
.footer {
	background-image: url('../Fotos/fonditouwu.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	margin-top: 50px;
}
.cards {
	justify-content: space-around;
	margin:40px 0px;
	padding: 10px;
	border-radius: 4px;
	background-image: url('../Fotos/fondoxd.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
body{
	background-color: #292b2c;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	object-fit: cover;
}

.footer-addres-icon{
	padding-right: 10px;
}
.letra{
	color: white;
	margin: 0 auto;
	margin-bottom: 20px;
	width: auto;
}
.centrado{
	display: block;
}
.btn-comprar{
	width: 100%;
	border-radius: 10px;

}
.separacioneventos{
	flex: 1 200px;
}
.card{
	background: #ECEBEB;
}
.tamañoletra1{
	font-size: 20px;
}
.text-align-left{
	text-align: left;
}
.text-align-right{
	text-align:right;
}
.text-align-center{
	text-align: center;
}
.footer-address-item{
	margin-right: 10px;
}
span.oi-location{
	font-size: 18px;
}
