$yellow: #FFFFFF;
$grey: #292b2c;
$plomito: #ECEBEB;

@mixin margenes($top, $bottom, $right){
	
	margin-top: $top;
	margin-bottom: $bottom;
	margin-right: $right;
}

.jumbotron {
	background-image: url('../Fotos/fondoxd.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	@include margenes(50px, 20px, 0px);
}
.footer {
	background-image: url('../Fotos/fonditouwu.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	@include margenes(50px, 0px, 0px);
}
.cards {
	justify-content: space-around;
	margin:40px 0px;
	padding: 10px;
	border-radius: 4px;
	background-image: url('../Fotos/fondoxd.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
body{
	background-color: $grey;
	width: 100%;
}

.footer-addres-icon{
	padding-right: 10px;
}
.letra{
	color: white;
	margin: 0 auto;
	@include margenes(0px, 20px, 0px);
	width: auto;
}
.centrado{
	display: block;
}
.btn-comprar{
	width: 100%;
	border-radius: 10px;

}
.separacioneventos{
	flex: 1 200px;
}
.card{
	background: $plomito;
}
.tamañoletra1{
	font-size: 20px;
}
.text-align-left{
	text-align: left;
}
.text-align-right{
	text-align:right;
}
.text-align-center{
	text-align: center;
}
.footer-address-item{
	@include margenes(0px, 0px, 10px);
}
span.oi-location{
	font-size: 18px;
}
