<!doctype html>
<html lang="en">
<!--Cabecera de la pagina web -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- build:css dist/empleo.css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <!-- endbuild -->
    <title>Hola, mundo!</title>
  </head>
  <!-- Cuerpo de la pagina web-->
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
      <a class="navbar-brand" href="#">AKFMusic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="./index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="./precios.html">Precios</a></li>
          <li class="nav-item"><a class="nav-link" href="./nosotros.html">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="./faq.html">Preguntas Frecuentes</a></li>
          <li class="nav-item"><a class="nav-link" href="./contacto.html">Contactanos</a></li>
          <li class="nav-item active"><a class="nav-link" href="./empleo.html">Empleos</a></li>
          <li class="nav-item"><a class="nav-link" href="./terms.html">Terminos y Condiciones</a></li>
        </ul>
      </div>
    </nav>
    <!-- Titulo de la pagina -->
    <div>
    <h1 class="jumbotron" align="center">Empleos</h1>
    </div>
    <!-- Contenido -->
    <div class="container fondo img-fluid" style="color: white;" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Empleos</li>
        </ol>
      </nav> 
      
      <h1>¿Buscas empleo?</h1>
      <h7>Trabaja con nosotros como asistente de ventas o respondiendo preguntas de los usuarios rellena el siguiente formulario de inscripcion.</h7>
      <br></br>
      <form>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="Nombres">Nombre</label>
            <input class="form-control" type="text" id="Nombres" name="Nombres" placeholder="Ingrese Nombres">
          </div>
          <div class="form-group col-sm-6">
            <label for="Apellidos">Apellidos</label>
            <input class="form-control" type="text" id="Apellidos" name="Apellidos" placeholder="Ingrese Apellidos">
          </div>
        </div>
        <div class="form-group">
          <label for="email">Correo electronico</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="Ingrese Email">
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 dropdown">
            <label for="region">Region</label>
            <select class="form-control" id="regiones"></select>
          </div>
          <div class="form-group col-sm-6">
            <label for="Apellidos">Comuna</label>
            <select class="form-control" id="comunas"></select>
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
            <input class="form-control" type="text" id="direccion" name="direccion" placeholder="Ingrese su dirección">
        </div>
        <div class="form-group">
          <label for="presentacion">Hacenos una presentación tuya:</label>
            <textarea  class="form-control" rows="10" type="text" id="faq" name="faq" placeholder="Escriba aquí"></textarea>
          <label for="contactame"></label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="contactame">
            <label class="form-check-label" for="gridCheck">¿Disponibilidad inmediata?</label>
          </div>

          <div style="margin-top: 10px" class="form-group">
            <form action="" method="post" name="" enctype="multipart/form-data">
              <label class="col-xs-2 control-label">Adjunta tu Curriculum:</label>
                <div class="col-xs-3">
                <input type="text" ng-model="archivo" class="form-control" value="Adjuntar archivo" />
                <input type="file" name="archivo" value="archivo" size="80" />
                </div>
            </form>
          </div>
        </div>
        <button class="btn btn-dark" type="submit">Postular</button>

      </form>



    </div>
  
  <footer class="footer">

      <div class='row'>
        <div class='col-sm-4 d-flex flex-column flex-wrap'>
          <a href="www.facebook.com">Facebook</a>
          <a href="www.instagram.com">Instagram</a>
          <a href="www.Twitter.com">Twitter</a>
          <a href="www.Google.com">Google+</a>
        </div>

        <div class='col-sm-4'>
          <address class="letra">
            <h3>Casa Matriz y contacto directo</h3>
            <p>Los Olmos 3918, Macul</p>
            <P>+56930759210</P>
            <P>Email: ronald.olate1@eventos.com</P>
          </address>
        </div>
              
        <div class='col-sm-4 d-flex flex-column align-items-end'>
          <a href="./nosotros.html">Nosotros</a>
          <a href="www.instagram.com">Servicio al Cliente</a>
          <a href="www.Twitter.com">Empleo</a>
          <a href="www.Google.com">Preguntas Frecuentes</a>
        </div>
      </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- build:js dist/empleo.js -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/regiones.js"></script>
    <!-- endbuild -->
    
  </body>
</html>